<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Question</key>
		<string>What happens in the “Inglorious bastards” pub scene?</string>
		<key>1</key>
		<string>Major Hallstrom finds out the deception </string>
		<key>2</key>
		<string>They continue playing</string>
		<key>3</key>
		<string>Major Hallstrom goes away</string>
		<key>4</key>
		<string>Hicox just shoots to Major hallstrom</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Question</key>
		<string>Which house the sorting hat choose for HP?</string>
		<key>1</key>
		<string>Slytherin</string>
		<key>2</key>
		<string>Ravenclaw</string>
		<key>3</key>
		<string>Hufflepuff</string>
		<key>4</key>
		<string>Gryffindor</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Question</key>
		<string>What happens in this scene?</string>
		<key>1</key>
		<string>Spiderman runs away</string>
		<key>2</key>
		<string>Spiderman reveals his identity</string>
		<key>3</key>
		<string>She kisses him</string>
		<key>4</key>
		<string>She takes his masks off</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Question</key>
		<string>What last name does rose use in the final part?</string>
		<key>1</key>
		<string>Dawson</string>
		<key>2</key>
		<string>Dewitt Bukater</string>
		<key>3</key>
		<string>Hockley</string>
		<key>4</key>
		<string>Brown</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Question</key>
		<string>What  does Myke Tyson do while he sings?</string>
		<key>1</key>
		<string>Punch to Alan</string>
		<key>2</key>
		<string>Embrace the boys</string>
		<key>3</key>
		<string>He starts to cry</string>
		<key>4</key>
		<string>He laughs</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Question</key>
		<string>What happens in this 7x06 &quot;Beyond the wall&quot; scene of GOT?</string>
		<key>1</key>
		<string>John Snow dies</string>
		<key>2</key>
		<string>Daenerys and her dragons rescue them</string>
		<key>3</key>
		<string>Ser Jorah Mormont dies</string>
		<key>4</key>
		<string>John Snow and the others win battle</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Question</key>
		<string>What will President Underwood does now?</string>
		<key>1</key>
		<string>He leaves</string>
		<key>2</key>
		<string>He is kicked by the speaker</string>
		<key>3</key>
		<string>He gives a speech</string>
		<key>4</key>
		<string>He is kicked by republicans</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Question</key>
		<string>Why does Sheldon go to Amy in this 11x01 scene?</string>
		<key>1</key>
		<string>To leave her</string>
		<key>2</key>
		<string>To apologize</string>
		<key>3</key>
		<string>To tell her a secret</string>
		<key>4</key>
		<string>To make her a marriage proposal</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Question</key>
		<string>What will Ciro orders to the barman?</string>
		<key>1</key>
		<string>A glass of water</string>
		<key>2</key>
		<string>A Whiskey</string>
		<key>3</key>
		<string>A coffee</string>
		<key>4</key>
		<string>An orange juice</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Question</key>
		<string>What is the next Escobar&apos;s turn?</string>
		<key>1</key>
		<string>&quot;Yo soy Pablo Emilio Escobar Gaviria&quot;</string>
		<key>2</key>
		<string>&quot;Plata o plomo&quot;</string>
		<key>3</key>
		<string>&quot;Hay momentos para pelear y hay momentos para ser astutos&quot;</string>
		<key>4</key>
		<string>&quot;Esto es para mi primo, Gustavo. Hijo de p**a!&quot;</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Question</key>
		<string>Against who Djokovic won the 2015 Wimbledon final</string>
		<key>1</key>
		<string>Federer</string>
		<key>2</key>
		<string>Murray</string>
		<key>3</key>
		<string>Nadal</string>
		<key>4</key>
		<string>Wawrinka</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Question</key>
		<string>Who wins 2017 MVP finals award?</string>
		<key>1</key>
		<string>Steph Curry</string>
		<key>2</key>
		<string>Lebron James</string>
		<key>3</key>
		<string>Kevin Durant</string>
		<key>4</key>
		<string>Kyrie Irving</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Question</key>
		<string>How Grosso kicked the last penality against France in the 2006 word cup final?</string>
		<key>1</key>
		<string>Scored on the left</string>
		<key>2</key>
		<string>Saved by goalkeeper</string>
		<key>3</key>
		<string>Kick out</string>
		<key>4</key>
		<string>Scored on the right</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Question</key>
		<string>What happens in this action of the suoerbolw LI (2017)?</string>
		<key>1</key>
		<string>James White passed the ball</string>
		<key>2</key>
		<string>James White scored touchdown</string>
		<key>3</key>
		<string>James White lost the ball</string>
		<key>4</key>
		<string>James white committed a foul</string>
	</dict>
	<key>15</key>
	<dict>
		<key>Question</key>
		<string>How ended this match between Muhammadd Ali and George Foreman?</string>
		<key>1</key>
		<string>Ali wins by KO</string>
		<key>2</key>
		<string>Foreman wins by KO</string>
		<key>3</key>
		<string>Ali wins on points</string>
		<key>4</key>
		<string>Foreman wins on points</string>
	</dict>
	<key>16</key>
	<dict>
		<key>Question</key>
		<string>How does the race ends?</string>
		<key>1</key>
		<string>Lightning McQueen wins</string>
		<key>2</key>
		<string>Strip &quot;The King&quot; Weather wins</string>
		<key>3</key>
		<string>Chick Hick wins</string>
		<key>4</key>
		<string>Everybody gets a crash</string>
	</dict>
	<key>17</key>
	<dict>
		<key>Question</key>
		<string>What do they do in this &quot;Frozen&quot; scene?</string>
		<key>1</key>
		<string>They climb the mountain</string>
		<key>2</key>
		<string>They find out a shortcut</string>
		<key>3</key>
		<string>They return back</string>
		<key>4</key>
		<string>They are helped by someone</string>
	</dict>
	<key>18</key>
	<dict>
		<key>Question</key>
		<string>Who produced the lion king movie?</string>
		<key>1</key>
		<string>Dream Works</string>
		<key>2</key>
		<string>Universal</string>
		<key>3</key>
		<string>Walt Disney</string>
		<key>4</key>
		<string>Warner Bros</string>
	</dict>
	<key>19</key>
	<dict>
		<key>Question</key>
		<string>Why people are kind to shrek?</string>
		<key>1</key>
		<string>He becomes man</string>
		<key>2</key>
		<string>He smells well</string>
		<key>3</key>
		<string>He becomes rich</string>
		<key>4</key>
		<string>They want something</string>
	</dict>
	<key>20</key>
	<dict>
		<key>Question</key>
		<string>What happens when Homer takes the fish in the water?</string>
		<key>1</key>
		<string>He falls into water</string>
		<key>2</key>
		<string>He tips over the boat</string>
		<key>3</key>
		<string>Bart stops him</string>
		<key>4</key>
		<string>He takes the shock</string>
	</dict>
	<key>21</key>
	<dict>
		<key>Question</key>
		<string>Who sang during half time of 2013 superbowl?</string>
		<key>1</key>
		<string>Rihanna</string>
		<key>2</key>
		<string>Beyonce</string>
		<key>3</key>
		<string>Lady Gaga</string>
		<key>4</key>
		<string>Justin Bieber</string>
	</dict>
	<key>22</key>
	<dict>
		<key>Question</key>
		<string>Who wrote the Quentin Tarantino&apos;s &quot;the hateful eight&quot; soundtrack?</string>
		<key>1</key>
		<string>Justin Hurwitz</string>
		<key>2</key>
		<string>Mica Levi</string>
		<key>3</key>
		<string>Thomas Newman</string>
		<key>4</key>
		<string>Ennio Morricone</string>
	</dict>
	<key>23</key>
	<dict>
		<key>Question</key>
		<string>Who won the 2016 Eurovision song contest?</string>
		<key>1</key>
		<string>Ukraine</string>
		<key>2</key>
		<string>Australia</string>
		<key>3</key>
		<string>Italy</string>
		<key>4</key>
		<string>UK</string>
	</dict>
	<key>24</key>
	<dict>
		<key>Question</key>
		<string>What appears on the Freddie Mercury&apos;s piano?</string>
		<key>1</key>
		<string>Beer</string>
		<key>2</key>
		<string>Water</string>
		<key>3</key>
		<string>Wine</string>
		<key>4</key>
		<string>Coke</string>
	</dict>
	<key>25</key>
	<dict>
		<key>Question</key>
		<string>Who won the &quot;Song of the year&quot; award at 2015 Grammy?</string>
		<key>1</key>
		<string>Sia</string>
		<key>2</key>
		<string>Sam Smith</string>
		<key>3</key>
		<string>Taylor Swift</string>
		<key>4</key>
		<string>Hozier</string>
	</dict>
	<key>26</key>
	<dict>
		<key>Question</key>
		<string>In which year Steve Jobs introduced the macintosh?</string>
		<key>1</key>
		<string>1982</string>
		<key>2</key>
		<string>1987</string>
		<key>3</key>
		<string>1980</string>
		<key>4</key>
		<string>1984</string>
	</dict>
	<key>27</key>
	<dict>
		<key>Question</key>
		<string>What did Steve Jobs introduce at 2007 keynote?</string>
		<key>1</key>
		<string>iPad</string>
		<key>2</key>
		<string>Apple Watch</string>
		<key>3</key>
		<string>iPod touch</string>
		<key>4</key>
		<string>iPhone</string>
	</dict>
	<key>28</key>
	<dict>
		<key>Question</key>
		<string>What time is shown on iPhone and iPad at every Apple keynote?</string>
		<key>1</key>
		<string>9:44</string>
		<key>2</key>
		<string>9:00</string>
		<key>3</key>
		<string>9:41</string>
		<key>4</key>
		<string>9:42</string>
	</dict>
</dict>
</plist>
